<footer class="site-footer">
  <div class="container">
    <div class="footer-contacts">
      Email: <a href="mailto:contact@stackydash.com">contact@stackydash.com</a
      ><br />
      Phone: <a href="tel:+61233319804">+61 2 3331 9804</a><br />
      Address: 9 Power Avenue, Ashwood VIC 3147, Australia
    </div>
    <nav class="footer-nav">
      <a href="./">Home</a>
      <a href="battle-log.html">Battle Log</a>
      <a href="hq-contacts.html">Contacts</a>
      <a href="offroad-disclaimer.html">Disclaimer</a>
      <a href="jeep-cookies.html">Cookies</a>
      <a href="jeep-privacy.html">Privacy</a>
    </nav>
    <p>
      &copy; <span id="footer-year"></span> stackydash.com. All rights reserved.
    </p>
  </div>
</footer>
